/* Estilos generales */
.bg-b {
    background: #b189e7;
}

nav {
    position: relative;
    margin: 0;
    width: auto;
    background: #1d4f71;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li a {
    display: block;
    padding: 10px 15px;
    color: #fff;
    text-decoration: none;
    transition: 0.2s linear;
}

nav ul li a:hover {
    background: #dfb2df;
    color: #fff;
}

nav ul li a .fa {
    width: 16px;
    text-align: center;
    margin-right: 5px;
    float: right;
}

nav ul ul {
    background: rgba(0, 0, 0, 0.2);
}

nav ul li ul li a {
    border-left: 4px solid transparent;
    padding: 10px 20px;
}

nav ul li ul li a:hover {
    border-left: 4px solid #3498db;
}

/* Estilos de paginación */
svg.w-5.h-5 {
    width: 35px;
}

.paginacion nav {
    background: none;
}

/* Estilos del menú */
body {
    font-family: Arial, sans-serif;
}

.menu-container {
    position: relative;
}

.menu {
    width: auto;
    background-color: #333;
    color: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.menu-item {
    position: relative;
}

.menu-item a {
    display: block;
    padding: 15px;
    color: #fff;
    text-decoration: none;
}

.menu-item a:hover {
    background-color: #444;
}

.submenu {
    display: none;
    background-color: #444;
    flex-direction: column;
    padding-left: 20px;
}

.menu-toggle {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: #fff;
    padding: 15px;
    background-color: #333;
}

/* Estilos móviles */
@media (max-width: 768px) {
    .menu {
        display: none;
    }

    .menu-toggle {
        display: block;
    }

    .menu.menu-visible {
        display: flex;
        flex-direction: column;
    }
}

/* Activos y submenús */
.menu-item.active > a.submenu-toggle {
    font-weight: bold;
}

.menu-item.active .submenu {
    display: flex;
}

.submenu.open {
    display: block;
}

.menu-item .submenu .active {
    font-weight: bold;
    color: red; /* Ajusta según tu necesidad */
}
